@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

span {
  font-size: 0.8rem;
}

button {
  cursor: pointer;
}
a {
  cursor: pointer;
}

.marginHandler {
  margin-top: 3.3rem;
}

@media only screen and (max-width: 991px) {
  .marginHandler {
    margin-top: 0rem;
  }
}
