/* @media only screen and (min-width: 1025px) { */

.mainNavigation {
  position: fixed;
  top: 0%;
  right: 0%;
  width: 100%;
  min-width: 100%;
  background: #ffff;
  z-index: 100;
}
.navigationBarContainer {
  margin: 0rem 10%;
  padding: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.navigationBar {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  list-style: none;
}

.navigationBar li a {
  padding: 0.5rem 0rem;
  font-weight: 500;
}

.logoImage {
  width: 8rem;
}

.navigationBarData {
  font-size: 0.7rem;
  border-bottom: 4px solid transparent;
}

.navigationBarData:hover {
  border-bottom: 4px solid rgb(255, 208, 0);
}

.navigationBarLine {
  height: 0.01rem;
  border: none;
  background-color: rgb(183, 181, 181);
}

.navigationBarMobileContainer {
  display: none;
}

.NavigationBarCartBox {
  width: 2rem;
  display: flex;
  flex-direction: row;
  position: relative;
}

.superSetCartItemsNumber {
  padding: 0.1rem 0.4rem;
  position: absolute;
  left: 0.8rem;
  top: -0.4rem;
  background: #ffd84d;
  border-radius: 20rem;
  font-weight: 900;
  color: #000;
}
/* } */

@media only screen and (max-width: 991px) {
  .navigationBarMobileContainer {
    margin: 0.5rem auto;
    padding: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
  }

  .navigationBarMini {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    list-style: none;
  }

  .navigationBarMini li a {
    padding: 0.5rem 0rem;
    font-weight: 500;
  }

  .navigationBarContainer {
    display: none;
  }

  .NavigationBarCartBox {
    width: 2rem;
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .superSetCartItemsNumber {
    position: absolute;
    left: 0.8rem;
    top: -0.4rem;
    background: #ffd84d;
    background: red;
    padding: 0.1rem 0.4rem;
    border-radius: 20rem;
    font-weight: 900;
    color: #ffff;
  }
}
